[submodule "shell"]
	path = plugins/shell
	url = https://github.com/secman-team/shell.git

[submodule "version-checker"]
	path = plugins/version-checker
	url = https://github.com/secman-team/version-checker.git

# [submodule "sm-win"]
# 	path = pkg/upgrade/sm-win
# 	url = https://github.com/secman-team/sm-win.git
