# [submodule "web"]
# 	path = web
# 	url = https://github.com/secman-team/web.git

[submodule "cgit"]
	path = api/cgit
	url = https://github.com/secman-team/corgit.git

[submodule "verx"]
	path = api/verx
	url = https://github.com/abdfnx/verx.git

[submodule "tools"]
	path = tools
	url = https://github.com/secman-team/tools.git

[submodule "formula"]
	path = plugins/smx
	url = https://github.com/secman-team/smx.git

[submodule "shell"]
	path = plugins/shell
	url = https://github.com/secman-team/shell.git
