[submodule "smx"]
	path = plugins/smx
	url = https://github.com/secman-team/smx.git

[submodule "sm-scoop"]
	path = plugins/sm-scoop
	url = https://github.com/secman-team/sm-scoop.git

[submodule "shell"]
	path = plugins/shell
	url = https://github.com/secman-team/shell.git

[submodule "version-checker"]
	path = plugins/version-checker
	url = https://github.com/secman-team/version-checker.git

[submodule "sm-upg"]
	path = pkg/upgrade/sm-upg
	url = https://github.com/secman-team/sm-upg.git
