# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.class
*.lock

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
tests

build/
dist/
/share/man/man1

# ignored files
# 1. build/secman-linux
# 2. build/secman-osx
# 3. build/secman-win-git
# 4. build/win/secman.exe
# 5. build/win/secman-sync.exe
# 6. build/win/secman_windows_LATEST_VERSION.msi
# 7. build/win/secman_windows_LATEST_VERSION.rar

# secret_key
secret_key.rb

# macOS
.DS_Store

# vim
*.swp

# spec
*.spec

# beta folder
/api/sync/beta
