# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.class
*.lock

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency (remove the comment below to include it)
vendor/
go.sum

tests

build/
dist/
/share/man

# secret_key
secret_key.rb

# macOS
.DS_Store

# vim
*.swp

# spec
*.spec

# beta folder
/api/sync/beta
