# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.turbo

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/secman

# Nyc test coverage
.nyc_output

# Dependency directories
node_modules
vendor

# Optional npm cache directory
.npm

# Archive files
*.tgz
*.zip

# Yarn Integrity file
.yarn-integrity

# Yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Builds, Vercel Config, Secman CLI Core Lib, Cache and Tmp
.cache
.vercel
dist
scc/lib
tmp

# Other
.DS_Store
oclif.manifest.json
date.txt
tag.txt
